/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}

.ellipse {
  width: 55px;
  height: 31px;
  background-color: #000000;
  border-radius: 50%;
}

.half-circle {
  width: 180px;
  height: 90px;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  border: 2px solid gainsboro;
  border-bottom: none;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #fff;
}
ul>li {
  list-style: none;
}

.dark {
  background-color: #333;
  color: #fff;
}

/* Navbar Styles */

.navbar {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  font-weight: bold;
  font-size: 1.2rem;
}

/* Home Styles */

.home {
  padding: 3rem;
}

.home .heading {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* Turfs Styles */

.turfs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 2rem;
}

.turf {
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Button Styles */

.button {
  background-color: #334155;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.button:hover {
  background-color: #555;
}

/* Dark Mode Button Styles */

.dark-mode-button {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1;
}

.dark-mode-button:hover {
  background-color: #555;
}